Package: chrome-settings-merge
Version: 0.0.1~testing
Architecture: i386
Maintainer: Nevyn <nevynh@gmail.com>
Description: Merges a Google Chrome/Chromium configuration file with other json files (for changing settings).
Section: main
Priority: optional
